.brake-discs-container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}
.header {
  color: #336699;
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}
.product-card {
  transition: transform 0.3s ease-in-out;
  height: 100%; /* تأكد أن الكارد يأخذ الارتفاع بالكامل */
}

.product-card:hover {
  transform: translateY(-5px);
}

.badge-floating {
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  background-color: #ffffff;
  padding: 1px;
  transition: transform 0.3s ease;
}

.product-card:hover .product-image {
  transform: scale(1.05);
}
.btn-cart {
  background-color: #264e7e;
  color: #fff;
  transition: background-color 0.3s ease;
  &:hover {
    background: #213a59;
  }
}

.color-option {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px #ddd;
}

.color-option.active {
  box-shadow: 0 0 0 2px #213a59;
}
.img-fluid {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  filter: contrast(1.1) brightness(1.1);
  object-fit: contain;
}
